<!DOCTYPE html>
     <html lang="en">
          <%- include('../partials/head.ejs') %>
     <body>
          <%- include('../partials/navbar.ejs') %>
     
          <% if(error) { %>
               <div class="error-message-con">
                    <p class="error-message"><%= error %></p>
               </div>
               <% } else { %>
          <div class="container">
                    <div class="header">
                         <h2>
                                      <a href="#" class="download-league">+qZiR1YSa0D/+/IJS2GfFlZAWEW5CRia//OegQ6//9HGrB4vrxgPH9AO2okD8qBUojXytG8jDn2mdkdGoxx1oSCJEAaJbcCKmZjjI/eSL29DJUgh4fRcP2g0+toevr6/lYnEUbY10HydJdBcaO7dmkKbkQS7QKes+4x7Er6LJSQM74KQM8eaBsCjnQZSzTbLxEc88nWOKd/w+ATcbD73kVLqA3JG3xINK4wiqmW8Iw6cb2T4WTo8gsPO8m2s8nzRO7059W0cJVMarTYgswzaPbp7MfMX30zljdzXxBoo08lPk8w38bIgl/d6Cr8Hk0d1iuk3e5F94A0V7aExljkwugun++oZyr3spTqtd4qlm88f3q+oiYLp8PIw+Hn6en46OHp57Y//EwEA/hqDSAdqNri9nz5qzx1ohAuZSaWBuS7IuK40ik21C/fugbAq+/+//Xcv/hU++//luh++//+///+/j9o+Uu//DR8FioC/Ilf3FZjksit/nTqjlcrk+S+oMT8LpDpGmjvUDMO53GVWrm07TycNHYMIDtaq85cV0sBTeERibo0whsHexU6FaAIY5apdGRn3pJrtV52kxtoHwqOzKy6mwGseJRvys3k5C+CLNjNXzUsFBgKSopSrvu1WSrbhv9+bgay0uFTh6emlvMv8bcN3srVPvHcs7wltBzb6l35QIzvpozAM69Ksa088ABbwj5rUyQvl7MUW7ditjBndwF3mpWaZYOq3eNSztN5CdNqGbaVKzhKtpri8Hom26Ljsa3aPy60Emp5NDJ4dTkK2ui1sRXjfs5ZFLvhmVfl9u9UqSYQxII1fStMbeQag2V8uHXYk2wkbPOmRpYX109YroJjDWwFmchbN9iuSj1zc+58Llc0iJfOfivw5jJnjbcCSzggYfKX+AJWJIPqZ5kHu7vpP5OdWtTy2vJNqiIWes1sBa0ZpZhiy2uWYaJoZcjWY/7GENQFcjOWzJIbEJ362XqE3Cy9tGTRoGmOIxdWoqiDY2Oaead2uVyrHI1R6bxWYQWh08zO1PjTOfy5WGWyBaBxrsTCBBzVi3ZDERcji0y2Vrdy5TciO8L9ULpebtZO2KAOaJWBHxZatxeY66XL32WkXKKgkm2VsWAWzQEuOtkqm62SQQi74Pib4m6H7Sm9/eYVVRv50R0dp/sOapLGwSaOrVq+RBtXCROJ0mdmbOu9EaTs3eFX6U2WvMUMAGraFa9pWAZUqS2/A4LnEbVCR8uhlml2QyG59BLeivKkKg1ehyinJsaQckm0GX9bPULhhtqSiUBAvJJ4DUZmWcsxjoSGi55Z50ktCmVJxSuGuJQCasx54VabGYBh3VI57MSuvYm02DrigLfVfWAHrpWQ12YN6cS3le1kEoLklCCsge2NW09DB7uV3tFS/dJ7076XRqTYcMjWwPbWSuRkK+cL7zY1sL2NLN7LCSxuZKPycXv1ppcQXVtAGje0Ub1MqKD+9Fv7nX+TyuVtFbWsulkFRCq3eivYOZ+NqkM+ZbcNlEPVOphRa3HGawuOZ6Bd7zlRGVV2rgT3QKYKcXXpeS74h11Vh5JbffOh1H3oQ5UWev3naVSpJrzUXR25SkOnWXvt/ArFrVJ/odbq0q9g1UX4OKjMf4vQHSoMX51eDtSY6APtOxTAvVq7FUWHldRAv7Z6RhlwapoVAZJHJjvk70P2unQAoD36C2ykayLtLmSv8odKConTUA8ahHcq2jwpyxZIep86/YijWjzeq9744NQqo9UgTWTq8eGBq91ct6oEuie5qMgV5a+YQyLYuHS5/my12Gzly0X9gdhUOslInSrAorvdKoR5PllqTg9DyQZ7jp59kJd3PvqFYDwfibaqJAMqACqarayH/Pjn7nce1uvOOgdBaxm6pqqqpuuGLR1H/d7vPeslH+Z40+3OPHSd6e95zd/4xje+8Y1vfOMb3/jGA2tYvX+99ru/8/zBS3gQAQMEFb21vcO5g/Pt6+cVKvtD2gaEVt0hC3PSFKFklT9qg8NWEJSaj+nC5U9B8VpKFFy2ApLqPCPRJSeHtDMrcWWBz1ZA+TV8bgMNWZQP8VO2wcHKjFegfXMeRjboVuPyGcGErfJxHg7Puy0IIzV2jVY2eYhc2rlE2Mr0/zktcFDn+c/zF/8hWvmDXijbcHq6xM1+a25WLmaCbPPLCOYjxTb00ZeXL2XgXrUEpdlSP/sNWca1gcOWbMqo4Qy0m8FhS/KvtV5j5Qw8YNa9zz5zNEtvv0Tt9mTEnl04Dj7tR8PN3UlSH7d0ym86J6WNFrtwxXGDDzrsYHCHo4nUhosO20f4Y8HXBsN+v8tjuwz71vnR9OCfevRpaIpiETFhdjRd9GueAdi2tiGH3d/Bp1eNri4h/6JxDPiMLL8kPEBSWOxw/+J/0oqC0c7CCg55BkgxniOnP7S9j/3q+++cN04v/+zNjPn2Q2EhozFNszeeUqgI0l2ELS  <% if(seasonInfo.currentMatchday) { %>      <div>
                                             الدوري الانكليزي / الجولة <%= seasonInfo.currentMatchday %>
                                        </div>
                                             
                                        <div>
                                       <%= Math.round(seasonInfo.endDate.split("-")[0])-1 + `` %>/<%= seasonInfo.endDate.split("-")[0] + `` %> 
                                        </div>
                                        <% } else { %>
                                             لا معلومات متوفرة
                                             <% } %>
                                   </h2>
                    </div>
                    
                    <div class="sub-container">
                         <div class="league-table">
                         <table>
                                   <thead>
                                        <td>ت</td>
                                        <td>الفريق</td>
                                        <td>المباريات</td>
                                        <td>اهداف</td>
                                        <td>فوز</td>
                                        <td>تعادل</td>
                                        <td>خسارة</td>
                                        <td>النقاط</td>
                                        <td>اخر خمسة</td>
                                   </thead>
                                        <tbody>
                                             <% if(standings && standings.length>0) { %>
                                             <% standings.forEach(team => { %>
                                                  <tr>
                                                       <td class="
                                                       <% if (team.position<=4) { %>
                                                            qualified-color
                                                            <% } %>
                                                       <% if (team.position>=18) { %>
                                                            eliminated-color
                                                            <% } %>
                                                       <% if (team.position == 5) { %>
                                                            europa-league-color
                                                            <% } %>
                                                       ">
                                                            <%= team.position %>
                                                       </td>
                                                       <td class="team-name"><img src="<%= team.team.crestUrl %>" width="24px"><%= team.team.shortName %></td>
                                                       <td><%= team.playedGames %></td>
                                                       <td><%= team.goalsFor %>:<%= team.goalsAgainst %></td>
                                                       <td><%= team.won %></td>
                                                       <td><%= team.draw %></td>
                                                       <td><%= team.lost %></td>
                                                       <td><%= team.points %></td>
                                                       <td id="team-form">
                                                                 <% let form = team.form; %>
                                                                 <% form = form.split(",") %>
                                                                 <% for(let i = 0; i < form.length; i++) { %>
                                                                 <div class="form-circle
                                                                 <% if(form[i] == "W") { %>
                                                                 form-green
                                                                      <% } else if(form[i] == "L") { %>
                                                                 form-red
                                                                           <% } else { %>
                                                                 form-grey
                                                                                <% } %>
                                                                 ">
                                                                      <%= form[i] %>
                                                                 </div>
                                                            <% }  %>
                                                       </td>
                                                  </tr>
                                             <% }) %>
                                             <% } else { %>
                                                       <tr>
                                                            <td>
                                                       لا معلومات متوفرة
                                                            </td>
                                                       </tr>
                                                  <% } %>
                                        </tbody>
                         </table>
                         <br>
                                   <div class="info">
                                        <ul>
                                             <li><i class="fa-solid fa-circle" style="color: #0078cf;"></i>مؤهل لدوري ابطال اوروبا</li>
                                             <li><i class="fa-solid fa-circle" style="color: #F18727;"></i>مؤهل للدوري الاوروبي</li>
                                             <li><i class="fa-solid fa-circle" style="color: #f71a1a;"></i>مركز الهبوط</li>
                                        </ul>
                                        <div class="share-links">
                                             <div>
                                                  <img width="20" src="https://logodownload.org/wp-content/uploads/2017/11/telegram-logo-8.png"><a href="https://t.me/l0OOI" class="share-link" style="text-decoration: none; color: #1e8efe;"> HeisenUSX</a>
                                             </div>
                                             <div>
                                                  <img width="20" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #333;" class="share-link"> HeisenUSX</a>
                                             </div>
                                        </div>
                                   </div>
                         </div>
                         <br>
                         <div class="league-fixtures">
                              <div class="fixtures-head">
                                   <h3>مباريات الجولة </h3>
                              </div>
                              <div class="matches">
                                   <% if(matches) { %>
                                   <% matches.forEach(match => { %>
                                             <div class="match-card">
                                                  <div class="match-home">
                                                       <img src="<%= match.homeTeam.crest %>" alt="team-logo">
                                                       <%= match.homeTeam.shortName %>
                                                  </div>
                    
                                                  <div class="match-teams-results">
                                                        <p class="match-result"><%= match.score.fullTime.home %> - <%= match.score.fullTime.away %></p>
                                                        <% if(match.status == "FINISHED") { %>
                                                            <p class="match-time">انتهت</p>
                                                            <% } else { %>
                                                                      <p class="match-time">
                                                                           <% let d = new Date(match.utcDate) %>
                                                                           <% if(moment(d).utc().utcOffset("+03:00").format("YYYY-MM-DD") == moment().utc().utcOffset("+03:00").format("YYYY-MM-DD")) { %>اليوم<% } else { %>
                                                                           <%= moment(d).utc().utcOffset("+03:00").format("MM") %>/<%= moment(d).utc().utcOffset("+03:00").format("DD") %> <% } %>
                                                                      </p>
                                                                      <% } %>
                                                  </div>
                    
                                                  <div class="match-away">
                                                       <img src="<%= match.awayTeam.crest %>" alt="team-logo">
                                                       <%= match.awayTeam.shortName %>
                                                  </div>
                                             </div>
                                        <% }) %>
                                        <div class="note">
                                             بتوقيت مكة المكرمة وبغداد
                                        </div>
                                        <% } else { %>
                                             <p>لا توجد مباريات متوفرة</p>
                                             <% } %>
                                             <br><br>
                              </div>
                         </div>
                    </div>
                    <% } %>
          </div>
     <br>
     <style>
          .header {
               background-image: url("/images/premier-league-cover.png");
          }
          
          .league-table table thead {
               background: rgb(96,5,184);
               background: linear-gradient(90deg, rgba(96,5,184,1) 0%, rgba(243,120,185,1) 50%, rgba(86,0,175,1) 100%);
          }
     
          .league-fixtures .fixtures-head {
               background: rgb(96,5,184);
               background: linear-gradient(90deg, rgba(96,5,184,1) 0%, rgba(243,120,185,1) 50%, rgba(86,0,175,1) 100%);
               }
     </style>
     <script src="index.js"></script>
     <script src="standing.js"></script>
          
     </body>
     </html>