<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./css/index.css">
    <link rel="stylesheet" href="/./css/standings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Readex Pro', sans-serif;
        }
    </style>
    <title>ูุงูุฒูู | ูุจุงุฑูุงุช ุงูููู ููุชุงุฆุฌ ูุงุญุตุงุฆูุงุช</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://i.ibb.co/M5RgpN8/IMG-9736.png" class="mr-2" style="border-radius: 50%;" width="48"
                    alt="Heisen Football">
                ูุงูุฒูู
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">๐ ุงูุฑุฆูุณูุฉ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matchday?<%= moment().format("YY-MM-DD")%>">โฝ๏ธ ูุจุงุฑูุงุช ุงูููู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/live">โญ๏ธ ุงูุจุซ ุงููุจุงุดุฑ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/premierleague-table">๐ด ุงูุฏูุฑู ุงูุงููููุฒู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/laliga-table">๐ช๐ธ ุงูุฏูุฑู ุงูุงุณุจุงูู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seriea-table">๐ฎ๐น ุงูุฏูุฑู ุงูุงูุทุงูู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bundesliga-table">๐ฉ๐ช ุงูุฏูุฑู ุงูุงููุงูู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liguea-table">๐ซ๐ท ุงูุฏูุฑู ุงููุฑูุณู</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ucl">ุฏูุฑู ุงุจุทุงู ุงูุฑูุจุง</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" style="display: flex; flex-direction:column;align-items:center;">
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/IOO0K"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- / Navigation -->
    </header>

    <main>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% if(channels) { %>
                <% channels.forEach(channel => { %>
                <% if(channel.cover.includes("http")){ %>
                <a href="/live/<%= channel._id %>">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <p><%= channel.name %> ุดุงูุฏ ุนูู</p>
                        <img src="<%= channel.cover %>" class="d-block w-100" alt="<%= channel.name%>">
                    </div>
                </a>
                <% } %>
                <% }) %>
                <% } else { %>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div dir="rtl" class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">ุงููู ุงูุจุทููุงุช</h2>
        
            <div dir="rtl" class="fcard row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
              <div class="col">
                <div class="card card-cover h-70 bg-center overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://e0.pxfuel.com/wallpapers/744/250/desktop-wallpaper-uefa-champions-league.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">ุฏูุฑู ุฃุจุทุงู ุฃูุฑูุจุง</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://sports.cbsimg.net/fly/images/league-logos/light/1236994.svg" alt="Bootstrap" width="32" height="32">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>ุงูุฑูุจุง</small>
                      </li>
                    </ul>
                  </div>
                </div>
              <div class="col">
                <div class="fcard card card-cover h-70 sdasss overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://wallpapers.com/images/hd/premier-league-background-z0e2roa3oht27bos.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">ุงูุฏูุฑู ุงูุงููููุฒู</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://png2.cleanpng.com/sh/cf16f35556dac849cc70d74cbc9c953b/L0KzQYm3V8EyN6drgZH0aYP2gLBuTcIxOWc2T595cnXwebb5TfxmaZh6fZ9ubnfvecTvTfZwd6Vned51LXzocbj8hb1tNZ1uh9C2ZX3yerq0VfI1PmFrSKk7MkK3QIK1UcQ4P2k8Tac6NUO0Q4KBUMI0OWQAUZD5bne=/kisspng-201617-premier-league-english-football-league-l-lion-emoji-5b460f07222401.1477875515313180231399.png" alt="Bootstrap" width="32" height="32">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>ุงูุฑูุจุง</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="fcard tbag card card-cover h-70 sdasss overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,fl_progressive,q_auto,w_1024/6423cf0ee2c6d0001d6226cb.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">ุงูููุงุฌูุงุช ุงูุงููู</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>ุงูุนุงูู</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>

              <div dir="rtl" class="container px-4 py-1 my-5" id="featured-3">
                <h2 class="pb-2 border-bottom">ููุฒุงุช ูุง ุญุตุฑ ููุง</h2>
                <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3">
                      <img src="https://i.ibb.co/d6B0CXP/hd.png" alt="hd" class="bi">
                    </div>
                    <h3 class="fs-2 text-body-emphasis">ุจุซ ุจุฏูุฉ ุนุงููุฉ ุงูุฌูุฏุฉ</h3>
                    <p>ุงุณุชูุชุน ุจุฌูุฏุฉ ุจุซ ุนุงููุฉ ูุณูุงุณุฉ ุจุฏูู ุงู ุชูุทูุน ูุจุชูููุงุช FHD ู HEVC.</p>
                  </div>
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3">
                      <img src="https://i.ibb.co/djhz3RP/advertising.png" alt="ads" class="bi">
                    </div>
                    <h3 class="fs-2 text-body-emphasis">ูุง ุงุนูุงูุงุช ูุฒุนุฌุฉ</h3>
                    <p>ุดุงูุฏ ุจุฏูู ููุงุตู ุฃู ุฅุนูุงูุงุช ุชููุฆ ุดุงุดุฉ ุงูุชุทุจูู, ุชุฌุฑุจุฉ ูุดุงูุฏุฉ ูุฅุณุชุฎุฏุงู ุณูุณุฉ ูู ูุง ูุถููู ูู.</p>
                  </div>
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3">
                      <img src="https://i.ibb.co/mqc8jCv/infinity.png" alt="" class="bi">
                    </div>
                    <h3 class="fs-2 text-body-emphasis">ุชุบุทูุฉ ูุฃูุจุฑ ุงูุจุทููุงุช</h3>
                    <p>ูุง ุชููุช ุฃู ูุจุงุฑุงุฉ ููุฑููู, ุงูุชุบุทูุฉ ููููุฉ ููุฃููู ุงููุจุงุฑูุงุช ูู ูุงูุฉ ุฏูุฑูุงุช ุงูุนุงูู.</p>
                  </div>
                </div>
              </div>

              <div class="follow-section">
                <p>ุชุงุจุนูุง ุนูู</p>
                <div class="share-links">
                     <div>
                          <a href="https://twitter.com/heizenbort"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i></a>
                     </div>
                     <div>
                          <a href="https://t.me/heisenport"><i class="fa-brands fa-telegram fa-xl" style="color: #ffffff;"></i></a>
                     </div>
                </div>
           </div>
           <br>

      </main>
  
  <br><br>
      <footer style="position: relative; width: 100%; bottom: 0; left: 0; display:flex; flex-direction: column; align-items: center; background-color: aliceblue;">
          
          </div>
          <p>ยฉ Heisen. ุฌููุน ุงูุญููู ูุญููุธุฉ 2024</p>
      </footer>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="index.js"></script>
  </body>
  
  </html>