<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/list.css">
     <%- include("../partials/head.ejs") %>
<body>
     <%- include("../partials/navbar.ejs") %>
     <div class="loader">
          <div class="live"><div class="live-pulse"></div></div>
       البث المباشر
       <div class="progress-bar"></div>
     </div>


    <style>.loader{
     width: 100%;
     height: 100%;
     background-color: #E6E6E6;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-animation: loader 0.5s 2s ease forwards;
     animation: loader 0.5s 2s ease-in forwards;
     z-index: 99;}
 
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>

<body>
    <main>
<container>
     <nav2>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item2 nav-link active" id="nav-news-tab" data-bs-toggle="tab" href="#nav-news" role="tab" aria-controls="nav-news" aria-selected="true">أخبار</a>
            <a class="nav-item2 nav-link" id="nav-sports-tab" data-bs-toggle="tab" href="#nav-sports" role="tab" aria-controls="nav-sports" aria-selected="false">رياضة</a>
            <a class="nav-item2 nav-link" id="nav-entertaiment-tab" data-bs-toggle="tab" href="#nav-entertaiment" role="tab" aria-controls="nav-entertaiment" aria-selected="false">ترفيه</a>
          </div>
        </nav2>
        <div class="tab-content" id="nav-tabContent"><br>
          <div class="tab-pane fade show active" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab"><div class="container">
               <div class="row row-cols-auto g-4">
                   <% channels.forEach(channel => { %>
                       <% if (channel.chType === 'news') { %>
                           <div class="col">
                               <a href="/live/<%= channel._id %>">
                                   <div class="card" style="background-image: url('<%= channel.img %>');">
                                       <span class="dot"></span>
                                       <div class="overlay"></div>
                                   </div>
                               </a>
                           </div>
                       <% } %>
                   <% }); %>
               </div>
           </div></div>
          <div class="tab-pane fade" id="nav-sports" role="tabpanel" aria-labelledby="nav-sports-tab">
               <div class="row row-cols-auto g-4">
                   <% channels.forEach(channel => { %>
                       <% if (channel.chType === 'sports') { %>
                           <div class="col">
                               <a href="/live/<%= channel._id %>">
                                   <div class="card" style="background-image: url('<%= channel.img %>');">
                                       
                                       <div class="overlay"></div>
                                   </div>
                               </a>
                           </div>
                       <% } %>
                   <% }); %>
               </div>
           </div>
          <div class="tab-pane fade" id="nav-entertaiment" role="tabpanel" aria-labelledby="nav-entertaiment-tab">...</div>
        </div>
            </container>


<br>
</main>
    <div lang="ar" dir="rtl" class="alert alert-dark" role="alert">
 نحن غير مسؤولين عن اي انتهاك للحقوق حيث ان البثوث من مواقع اخرى غير مسؤولين عنها في حال حدوث اي مشاكل قانونية او شرعية 
 اذا كان لديك اي استفسار اتصل بنا على تلكرام عبر حساب التلكرام الاتي: @x1934
</div>
    <footer style=" width: 100%;">
    
    
  
     <div class="share-links">

     <div>
          <img width="20" src="https://logodownload.org/wp-content/uploads/2017/11/telegram-logo-8.png"><a href="https://t.me/l0OOI" class="share-link" style="text-decoration: none; color: #1e8efe;"> HeisenUSX</a>
     </div>
     <div>
          <img width="20" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #fff;" class="share-link"> HeisenUSX</a>
     </div>

     </div>
        <p>© Heisen. جميع الحقوق محفوظة 2024</p>
    </footer>
    
<script src="index.js"></script>
</body>
</html>