<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/list.css">
     <%- include("../partials/head.ejs") %>
<body>
     <%- include("../partials/navbar.ejs") %>
     <div class="loader">
          <div class="live"><div class="live-pulse"></div></div>
       البث المباشر
       <div class="progress-bar"></div>
     </div>


    <style>.loader{
     width: 100%;
     height: 100%;
     background-color: #E6E6E6;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-animation: loader 0.5s 2s ease forwards;
     animation: loader 0.5s 2s ease-in forwards;
     z-index: 99;}
 
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>

<body>
    <main>
<br>
<div class="container">
    <h4>البث المباشر من هايزين</h4>
    	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="البحث عن قناة" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th>#</th>
								<th>القناة</th>
								<th>المباراة</th>
								<th>الحالة</th>
                                   </tr>
                              </thead>
    <tbody> 
     <% let i = 0 %>
          <% channels.forEach(channel => { %>
               <% i= i + 1 %>
               <a href="/live/<%= channel.link %>">
     <tr>
          <th><%= i %></th>
          <th><%= channel.name %></th>
          <th><%= channel.match %></th>
          <th><%= channel.status%></th>
        <th><a href="/live/<%= channel._id %>"><i class="fa fa-lg fa-play-circle"></i></a></th>
     </tr>
     <% }) %>
     </a>
   </tbody>
   </table>
    </main>
    <footer style="position: fixed; width: 100%; bottom: 0; left: 0;">
     <div class="share-links">

     <div>
          <img width="20" src="https://logodownload.org/wp-content/uploads/2017/11/telegram-logo-8.png"><a href="https://t.me/l0OOI" class="share-link" style="text-decoration: none; color: #1e8efe;"> HeisenUSX</a>
     </div>
     <div>
          <img width="20" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #fff;" class="share-link"> HeisenUSX</a>
     </div>

     </div>
        <p>© Heisen. جميع الحقوق محفوظة 2024</p>
    </footer>
     
<script src="index.js"></script>
<script src="navbar.js"></script>
</body>
</html>