<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/login.css">
     <%- include("../partials/head.ejs") %>
 
<body>
     <%- include("../partials/navbar.ejs") %>
<body>
    <main style="width:100vw; display:flex; flex-direction:column;align-items:center;justify-content:center;">
    
        <iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=true&autopause=true&muted=true&loop=true&url=<%= channel.link %>&poster=<%= channel.img %>&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true&buttonColor=#ffffff&buttonSize=60&overlayColor=#ffcd00&overlayOpacity=0.3" style="height: 100%; width: 100%; aspect-ratio: 1920 / 1080; box-shadow: rgb(51, 51, 51) 0px 3px 30px -10px;"></iframe>


<script type="text/javascript">
  var player = videojs('videojs');
  player.hlsQualitySelector();
</script>

</br>
<div class="server-con" lang="ar" dir="rtl">
<h3><%= channel.name %></h3>
<div class="paragraphs">
<p>
    
</p>
</div>
</div>

<br>

<a target="_blank" href="https://t.me/x1934">
    <div class="ad-con">
        <p>ضع اعلانك هنا</p>
    </div>
</a>


<style>
    .server-con {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 960px;
    }
    .server-con h3{
        align-self: center;
        text-align: center;
    }
    .server-con p{
        font-size: 1.2rem;
    }
    .server-con .paragraphs{
        background-color: ;
        padding: 0.6rem;
        border-radius: 0.8rem;
        width: 75%;
        max-width: 680px;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .ad-con{
        width: 14rem;
        height: 10rem;
        border: dashed gray 1px;
        border-radius: 1rem;
        background: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
</style>

    </main>
<script src="index.js"></script>
</body>
</html>