<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./css/matchday.css">
     <%- include('../partials/head.ejs') %>
<body>
     <%- include('../partials/navbar.ejs') %>

     <div class="matchday-container">
          <div class="header2">
               <div class="head-titles">
                    <a href="/matchday?date=<%= moment().subtract(1, 'days').startOf('day').format("YYYY-MM-DD") %>"><h2>مباريات الامس</h2></a>

                    <a href="/matchday?date=<%= moment().format("YYYY-MM-DD") %>"><h2>مباريات اليوم</h2></a>
                    
                    <a href="/matchday?date=<%= moment().add(1, 'days').startOf('day').format("YYYY-MM-DD") %>"><h2>مباريات الغد</h2></a>
                    <a href="#" class="download-all-leagues"><h2>PNG تنزيل</h2></a>
                    
               </div>
          </div>
          <% if(error) { %>
          <div class="error-message-con">
               <p class="error-message"><%= error %></p>
          </div>
          <% } else { %>
          <div class="body-content">
               <div class="fixtures">
                    <% if(fixtures.length <= 0) { %>
                         <p class="no-matches">لا توجد مباريات اليوم</p>
                         <% } else { %>
                              <% fixtures.sort((a, b) => { %>
                                 <%  const nameA = a.competition.name.toUpperCase();%>
                                   <% const nameB = b.competition.name.toUpperCase(); %>
                                  <% if (nameA < nameB) { %>
                                      <% return -1; %>
                               <%    } %>
                                  <% if (nameA > nameB) { %>
                                   <%    return 1; %>
                               <%    } %>
                                  <% return 0; %>
                            <%   }); %>
                               
                    <div class="leagues">
                         <% let currentCompetition = null; %>
                         <div class="premier-league-fixtures">
                              <div class="league-fixtures">
                                   <% fixtures.forEach(fixture => { %>
                                        <% if (fixture.competition.name !== currentCompetition) { %>
                                             
                                             <div class="tournament-header">
                                             <img src="<%= fixture.competition.emblem %>" /><%= fixture.competition.name %>
                                             <% currentCompetition = fixture.competition.name; %>
                                             </div>
                                         <% } %>
                                   <div class="match">
                                        <div class="match-header">
                                             
                                                  <% if(fixture.status == "IN_PLAY") { %>
                                                   <div class="match-status"> 
                                             مباشر
                                                  </div>
                                                  <% } else {} %>
                                        </div>
                                        <div class="match-content">
                                             <div class="column">
                                                  <div class="team team--home">
                                                       <div class="team-logo">
                                                            <img src="<%= fixture.homeTeam.crest %>" />
                                                       </div>
                                                       <h2 class="team-name ofc"><%= fixture.homeTeam.shortName %></h2>
                                                  </div>
                                             </div>
                                             <div class="column">
                                                  <div class="match-details">
                                                       <div class="match-date">
                                                            <strong><% let d = new Date(fixture.utcDate) %>
                                                                 <%= moment(d).utc().utcOffset("+03:00").format("hh") %>:<%= moment(d).utc().utcOffset("+03:00").format("mm") %> <%= moment(d).utc().utcOffset("+03:00").format("a") %></strong>
                                                                 <%= moment(d).utc().utcOffset("+03:00").format("MM") %>/<%= moment(d).utc().utcOffset("+03:00").format("DD") %>
                                                       </div>
                                                       <div class="match-score">
                                                            <span class="match-score-number
                                                            <% if(fixture.score.fullTime.home>fixture.score.fullTime.away) { %>
                                                             match-score-number--leading
                                                             <% }else{} %>
                                                             "><%= fixture.score.fullTime.home %></span>
                                                            <span class="match-score-divider">:</span>
                                                            <span class="match-score-number <% if(fixture.score.fullTime.home<fixture.score.fullTime.away) { %>
                                                                 match-score-number--leading
                                                                 <% }else{} %>"><%= fixture.score.fullTime.away %></span>
                                                       </div>
                                                       <div class="match-time-lapsed">
                                                            
                          <% if(fixture.status == "FINISHED") { %>
                              <p>انتهت</p>
                              <% } else if(fixture.status == "IN_PLAY") { %>
                              <p>جارية الان</p>
                                        <% } else { %>
                                             <p style="color:grey">لم تبدأ</p>
                                             <% } %>            
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="column">
                                                  <div class="team team--away">
                                                       <div class="team-logo">
                                                            <img src="<%= fixture.awayTeam.crest %>" />
                                                       </div>
                                                       <h2 class="team-name ofc"><%= fixture.awayTeam.shortName %></h2>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <% }); %>
                         </div>
                         
                         <% } %>

                         <div dir="rtl" style="display: flex; align-items: center; gap:0.5rem;">
                              <img width="25" src="https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638258077460000000"><a href="https://x.com/IOO0K" style="text-decoration: none; color: #333;" class="share-link"> HeisenUSX</a>
                         </div>
                    </div>
                    <p class="note" dir="rtl" style="align-self: center;">بتوقيت مكة المكرمة وبغداد</p>
                </div>
          </div>
          <% } %>
     </div>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script src="index.js"></script>
     <script src="matchday.js"></script>
</body>
</html>
