<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="/./css/ucl.css">

     <%- include('../partials/head.ejs') %>
<body>
     <%- include('../partials/navbar.ejs') %>

     <div class="header" dir="rtl">
          <div>
               <h1>دوري ابطال اوروبا - مباريات ونتائج</h1>
               <ul class="sub-navbar">
                    <a href="/ucl"><li class="item1">نتائج</li></a>
                    <a href="/ucl/stats"><li class="item2">احصائيات</li></a>
                    <a href="/ucl/groups"><li class="item3">المجموعات</li></a>
                    <a href="/ucl/brackets"><li class="item4">الادوار الاقصائية</li></a>
               </ul>
          </div>
     </div class="header">

     <div class="ucl-container">

          <div id="fixtures">
               <% let nextUCLFixture = fixtures.filter(fixture => fixture.status == "TIMED" || fixture.status == "SCHEDULED"); %>
               <% if(nextUCLFixture.length <= 0) { %>
                    <% } else { %>
               <div class="next-fixtures">
                    <div class="head-next-fixtures">
                         <h2>- المباريات القادمة -</h2>
                    </div>

                    <div class="fixtures-body">
                         <% nextUCLFixture.forEach(fixture => { %>
                              <div class="fixture-card">
                                   <div class="
                                   fixture-details
                                   <% if(fixture.stage == "FINAL") { %> final-fixture <% } %> ">
                                        <div class="fixture-stage">
                                             <% if(fixture.stage == "PLAYOFF_ROUND_1") { %>
                                                  البلاي اوف
                                             <% } else if(fixture.stage == "GROUP_STAGE") { %>
                                                  دور المجموعات
                                             <% } else if(fixture.stage == "LAST_16") { %>
                                                  دور ال16
                                                  <% } else if(fixture.stage == "QUARTER_FINALS") { %>
                                                       ربع النهائي
                                                       <% } else if(fixture.stage == "SEMI_FINALS") { %>
                                                       نصف النهائي
                                                            <% } else if(fixture.stage == "FINAL") { %>
                                                            النهائي
                                                                 <% } %>
                                        </div>
                                        <div class="fixture-date">
                                             <%= fixture.utcDate.split("T")[0] %>
                                        </div>
                                   </div>
                                   <div class="fixture-sub-card">
                                        <div class="fixture-home">
                                             <p>
                                        <% if(fixture.homeTeam.shortName == null) { %> 
                                        يحدد لاحقاً
                                             <% } else { %> 
                                                  <%= fixture.homeTeam.shortName %>
                                        <% } %>
                                             </p>
                                             <img src="
                                             <% if(fixture.homeTeam.crest == null) { %> 
                                                  https://www.gstatic.com/onebox/sports/logos/crest_48dp.png
                                                  <% } else { %> 
                                                       <%= fixture.homeTeam.crest %>
                                                  <% } %>
                                             " alt="team-logo">
                                        </div>
                                        <% 
                                        %>
                                        <% if(fixture.status == "FINISHED") { %>
                                             <div class="fixture-time">
                                                  <p>
                                                       <%= fixture.score.fullTime.home %> - <%= fixture.score.fullTime.away %> 
                                                  </p>
                                             </div>
                                        <% } else { %>
                                             <div class="fixture-time">
                                                  <p>
                                                       <% let d = new Date(fixture.utcDate) %>
                                                       <% let AmOrPm = d.getUTCHours() >= 12 ? 'pm' : 'am'; let h = ((d.getUTCHours() % 12) || 12) + 3; %><%= h %>:<% if(d.getUTCMinutes() == 0) { %>00 <% } else { %><%= d.getUTCMinutes() %> <% } %><%= AmOrPm %>
                                                  </p>
                                             </div>
                                             <% }  %>
                                        <div class="fixture-away">
                                             <img src="
                                             <% if(fixture.awayTeam.crest == null) { %> 
                                                  https://www.gstatic.com/onebox/sports/logos/crest_48dp.png
                                                  <% } else { %> 
                                                       <%= fixture.awayTeam.crest %>
                                                  <% } %>
                                             " alt="team-logo">
                                             <p>
                                                  <% if(fixture.awayTeam.shortName == null) { %> 
                                                  يحدد لاحقاً
                                                  <% } else { %> 
                                                       <%= fixture.awayTeam.shortName %>
                                                  <% } %>
                                                  </p>
                                        </div>
                                   </div>
                              </div>
                              <% }) %>
                         </div>
                    </div>
                    <button class="download-img-btn">PNG تنزيل</button>
               <% } %>

               <% let lastUCLFixture = fixtures.filter(fixture => fixture.status == "FINISHED"); %>
               <% if(lastUCLFixture.length <= 0) { %>
                    <% } else { %>

               <div class="last-fixtures">
                    <div class="head-last-fixtures">
                         <h2>- المباريات الاخيرة -</h2>
                    </div>
                    <ul class="fixtures-body last-fixtures-body">
                         <% lastUCLFixture.slice(-15).reverse().forEach(fixture => { %>
                              <li class="fixture-card">
                                   <div class="
                                   fixture-details
                                   <% if(fixture.stage == "FINAL") { %> final-fixture <% } %> ">
                                        <div class="fixture-stage">
                                             <% if(fixture.stage == "PLAYOFF_ROUND_1") { %>
                                                  البلاي اوف
                                             <% } else if(fixture.stage == "GROUP_STAGE") { %>
                                                  دور المجموعات
                                             <% } else if(fixture.stage == "LAST_16") { %>
                                                  دور ال16
                                                  <% } else if(fixture.stage == "QUARTER_FINALS") { %>
                                                       ربع النهائي
                                                       <% } else if(fixture.stage == "SEMI_FINALS") { %>
                                                       نصف النهائي
                                                            <% } else if(fixture.stage == "FINAL") { %>
                                                            النهائي
                                                                 <% } %>
                                        </div>
                                        <div class="fixture-date">
                                             <%= fixture.utcDate.split("T")[0] %>
                                        </div>
                                   </div>
                                   <div class="fixture-sub-card">
                                        <div class="fixture-home">
                                             <p>
                                        <% if(fixture.homeTeam.shortName == null) { %> 
                                        يحدد لاحقاً
                                             <% } else { %> 
                                                  <%= fixture.homeTeam.shortName %>
                                        <% } %>
                                             </p>
                                             <img src="
                                             <% if(fixture.homeTeam.crest == null) { %> 
                                                  https://www.gstatic.com/onebox/sports/logos/crest_48dp.png
                                                  <% } else { %> 
                                                       <%= fixture.homeTeam.crest %>
                                                  <% } %>
                                             " alt="team-logo">
                                        </div>
                                        <% 
                                        %>
                                        <% if(fixture.status == "FINISHED") { %>
                                             <div class="fixture-time">
                                                  <p>
                                                       <%= fixture.score.fullTime.home %> - <%= fixture.score.fullTime.away %> 
                                                  </p>
                                             </div>
                                        <% } else { %>
                                             <div class="fixture-time">
                                                  <p>
                                                       <% let d = new Date(fixture.utcDate) %>
                                                       <% let AmOrPm = d.getUTCHours() >= 12 ? 'pm' : 'am'; let h = ((d.getUTCHours() % 12) || 12) + 3; %><%= h %>:<% if(d.getUTCMinutes() == 0) { %>00 <% } else { %><%= d.getUTCMinutes() %> <% } %><%= AmOrPm %>
                                                  </p>
                                             </div>
                                             <% }  %>
                                        <div class="fixture-away">
                                             <img src="
                                             <% if(fixture.awayTeam.crest == null) { %> 
                                                  https://www.gstatic.com/onebox/sports/logos/crest_48dp.png
                                                  <% } else { %> 
                                                       <%= fixture.awayTeam.crest %>
                                                  <% } %>
                                             " alt="team-logo">
                                             <p>
                                                  <% if(fixture.awayTeam.shortName == null) { %> 
                                                  يحدد لاحقاً
                                                  <% } else { %> 
                                                       <%= fixture.awayTeam.shortName %>
                                                  <% } %>
                                                  </p>
                                        </div>
                                   </div>
                              </li>
                              <% }) %>
                         </ul>
                         <button class="show-more-button show-btn">عرض المزيد</button>
                         <button class="show-less-button show-btn">عرض اقل</button>
               </div>
               <br>
               <% } %>
          </div>

          <div class="sub-con-2">
               <div class="ucl-detailes">
                    <div class="scorers-head ul__stats__head">
                         <h2>- الاعلى تقييماً -</h2>
                    </div>
                    <ul class="scorers ul__stats">
                         <% stats.stats[2].rows.slice(0, 4).forEach(player => { %>
                         <li class="scorer" dir="rtl">
                              <div>
                                   <div>
                                        <img src="https://imagecache.365scores.com/image/upload/f_png,w_80,h_80,c_limit,q_auto:eco,dpr_2,d_Athletes:default.png,r_max,c_thumb,g_face,z_0.65/Athletes/<%= player.entity.id %>" alt="player">
                                   </div>
                                   <div class="player-details">
                                        <p class="player-name" dir="rtl"><%= player.entity.shortName %></p>
                                        <p><%= player.entity.positionShortName %></p>
                                   </div>
                              </div>
                              <div>
                                   <p><%= player.stats[0].value %></p>
                              </div>
                         </li>
                         <% }) %>
                    </ul>
               </div>
               <div class="stats-main">
                    <div class="tournament-soccer">
                         <div class="scorers-head ul__stats__head">
                              <h4>هداف البطولة</h4>
                         </div>
                         <div class="soccer-card">
                              <div class="soccer-details">
                                   <div>
                                        <img src="https://imagecache.365scores.com/image/upload/f_png,w_80,h_80,c_limit,q_auto:eco,dpr_2,d_Athletes:default.png,r_max,c_thumb,g_face,z_0.65/Athletes/<%= stats.stats[0].rows[0].entity.id %>" alt="player-profile">
                                        <p dir="rtl"><%= stats.stats[0].rows[0].stats[0].value %> هدف</p>
                                   </div>
                                   <p><%= stats.stats[0].rows[0].entity.shortName %></p>
                              </div>
                         </div>
                    </div>
                    <div class="tournament-soccer">
                         <div class="scorers-head ul__stats__head">
                              <h4>الاكثر صناعة</h4>
                         </div>
                         <div class="soccer-card">
                              <div class="soccer-details">
                                   <div>
                                        <img src="https://imagecache.365scores.com/image/upload/f_png,w_80,h_80,c_limit,q_auto:eco,dpr_2,d_Athletes:default.png,r_max,c_thumb,g_face,z_0.65/Athletes/<%= stats.stats[1].rows[0].entity.id %>" alt="player-profile">
                                        <p dir="rtl"><%= stats.stats[1].rows[0].stats[0].value %> اسيست</p>
                                   </div>
                                   <p><%= stats.stats[1].rows[0].entity.shortName %></p>
                              </div>
                         </div>
                    </div>
               </div>

               <br><br>
               <div class="follow-section">
                    <p>تابعنا على</p>
                    <div class="share-links">
                         <div>
                              <a href="https://twitter.com/heizenbort"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i></a>
                         </div>
                         <div>
                              <a href="https://t.me/heisenport"><i class="fa-brands fa-telegram fa-xl" style="color: #ffffff;"></i></a>
                         </div>
                    </div>
               </div>
          </div>

     </div>

     <script src="index.js"></script>
     <script src="ucl.js"></script>
</body>
</html>